<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>página teste</title>
  </head>
  <body>
    {{#info}}
    <h1>{{teste}}</h1>
    <p>{{valor1}} : {{valor2}}</p>
    {{/info}}
  </body>
</html>
